:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --orange: #fca94d;
  --lt-green: #a5ce85;
  --mid-green: #72a847;
  --drk-green: #162a15;

  /* bubble font */
  .modak-regular {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  /* cleaner font */
  .mooli-regular {
    font-family: "Mooli", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

}



body {
  margin: 0;
  padding: 0;
}

#header{
  display: flex;
  justify-content: space-between;
  background-color: var(--drk-green);
  height: 125px;
  width: 100%;  
}

#logo img{
  height:85px;
  margin: 10px;
}

ul{
  list-style: none;
  display: flex;
}

h3{
display: flex;
/* justify-content: center; */
padding: 10px 50px;
color: var(--orange);
font-size: 26px;
/* padding: 0px 10px  */
}

a:link{
text-decoration: none;
}

button{
  display: flex;
  align-items: center;
  background-color: var(--lt-green);
  border: none;
  height: 40px;
  width: 150px;
  margin: 10px;
  border-radius: 12px;
}

#log-in{
  color: black;
}

