:root {
    font-family: 'Mooli';
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.product-card {
    width: 400px;
    margin: 25px;
    padding: 15px;
    text-align: center;
    font-family: 'Mooli';
    background-image: linear-gradient(  #f8fff3, #8bbc62);
    border: 4px solid #122a09;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    /* overflow: hidden; */
    transition: transform 0.3s ease;
}


.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.product-image {
    width: 250px;
    height: 275px;
    border-radius: 50px;
}


.product-card h2 {
    font-family: 'Modak';
    font-size: 35px;
    color: #fca94d;
    text-shadow: 1px 1px 0px black,
    -1px -1px 0px black,
    1px -1px 0px black,
    -1px 1px 0px black;
    font-weight: bold;
    margin-bottom: 8px;
}


.product-card .description {
    font-size: 14px;
    /* font-weight: normal; */
    margin-bottom: 12px;
}


.product-card .price {
    font-family: 'Modak';
    color: #fca94d;
    text-shadow: 1px 1px 0px black,
    -1px -1px 0px black,
    1px -1px 0px black,
    -1px 1px 0px black;
    font-weight: bold;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 8px;
}


.product-card .ingredients {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}


.product-card .category {
    font-family: 'Modak';
    color: #fca94d;
    text-shadow: 1px 1px 0px black,
    -1px -1px 0px black,
    1px -1px 0px black,
    -1px 1px 0px black;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 8px;
}


.product-card .caption {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.select-pet-container {
    margin: 50px 250px;
    padding: 20px;
    border: 10px solid #162a15;
    border-radius: 20px;
    display: flex; 
    align-items: center; 
    background-color: #a5c28e;
}

#pet-name-label {
    font-size: 20px;
    margin: 0px 70px; /* Add some space between the label and the button */
}

#select-pet-header {
    text-align: center;
    font-size: 35px;
    padding: 0px;
    margin: 40px;
}

.radio-container {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}


#pet-result-header {
    text-align: center;
    color:#162a15;
}

@media (max-width: 600px) {
    .product-card {
        width: 90%;
        margin: 16px auto;
    }
}
