.modak-regular {
  color:#fca94d;  
}

#freshly-crafted {
  margin-left: 50px;
}

.mooli-regular {
  font-family: 'Mooli';
  font-size: 26px;
}

.lets-go-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  border-radius: 50px;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Mooli';
  font-weight: bold;
  padding-left: 10px;
}

.arrow {
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.home-container {
  margin-left: 200px;
  margin-top: 230px;
}

.dogImage {
  position: relative;
  height: 450px;
  width: 725px;
  margin-left: 680px;
  border-radius: 100px;
  margin-top: -295px;
  z-index: 1;
}

.pawPrints {
  position: relative;
  margin-top: -690px;
  margin-left: -220px;
  transform: rotate(80deg);
  height: 1300px;
  width: 1100px;
  z-index: 0;
}

.pawPrints2 {
  position: absolute;
  margin-top: -1100px;
  margin-left: 400px;
  transform: rotate(85deg);
  height: 1300px;
  width: 1100px;
  z-index: 2;
}