:root {
    --lt-green: #a5ce85;
    --orange: #fca94d;
    --drk-green: #162a15;
}

#reviews-container {
    background-color: var(--lt-green);
    margin: 0;
    font-family: 'Mooli';
    padding-bottom: 100px;
}

#reviews-container h1 {
    margin: 0px;
    padding: 30px 20px;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    color: var(--drk-green);
}

#reviews-container p {
    border: 5px solid var(--drk-green);
    border-radius: 25px;
    padding: 30px;
    margin: 20px 50px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(244, 197, 110);
    color: var(--drk-green);

}

#reviews-container span {
    font-size: 25px;
    padding: 20px;
}